svg {
  width: 75px;
  height: 75px;
  margin: 0px 5px;
  display: inline-block;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#loadingBar {
  /* display: flex;  */
  border: solid 1px #666;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
  opacity: 0.6;
  background: #666;
  /* align-items: center;  */
}
#innerContainer {
  padding: 20px 15px 10px 15px;
}
#loadingText{
    color:#fff;
    font-size: 16px;
}
